@use "../utilities/variables";
@use "../utilities/extend";

.banner {
  padding: 80px;
  background-color: variables.$color-banner;
  @extend %text-center;
  color: white;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }

  h1 {
    @extend %bolder;

    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    @extend %bold;
  }

  p {
    color: lightgrey;
    font-size: larger;

    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }
}

.banner-sec {
  padding: 70px;
  @extend %text-center;
  background-color: variables.$color-primario;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }

  h2 {
    margin: 30px 0;
    @extend %bold;
    font-size: x-large;

    @media (max-width: 576px) {
      font-size: 1.2rem;
    }
  }
}
