@use "../utilities/variables";

footer {
  background-color: rgb(48, 68, 105);
}

.custom-footer {
  background-color: variables.$color-footer;
  color: white;
  padding-top: 50px;

    @media (max-width: 768px) {
    padding-top: 30px;

    .row {
      text-align: center;
    }

    h5 {
      font-size: 1.1rem;
    }

    p,li,a {
      font-size: 0.9rem;
    }

    .fs-4 {
      font-size: 1.4rem !important;
    }
  }
}


