$color-primario: rgba(3, 114, 225, 0.386);
$color-primario2: rgba(3, 114, 225, 0.527);
$color-banner: rgb(31, 32, 45);
$color-footer: rgb(18, 19, 26);
$color-accordion: rgb(213, 225, 235);

$font-principal: "Montserrat", sans-serif;
