@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*   font-family: "Montserrat", sans-serif; */

/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(188, 204, 231);
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: rgb(112, 147, 213);
}

footer {
    background-color: rgb(48, 68, 105);
}

/*Estilos header*/

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 150px;
    width: 75px;
    height: 75px;
}

.menu {
    border-color: blue;
    border-width: 15px;
}

.custom-navbar-toggler {
    border-width: 0px;
}

.custom-navbar-toggler:focus {
    box-shadow: none;
}

.custom-navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 200px;
}

.custom-nav-link {
    color: black;
    font-size: large;
    font-weight: 500;
}

.custom-nav-link:hover {
    text-decoration: underline;
}

.custom-nav-link-toggled {
    text-decoration: underline;
}

/*Estilos index*/

.titulo-index {
    font-size: 50px;
}

.servicio-index-li {
    list-style-type: none;
}

/*Estilos servicios*/

.servicio-servicios-li {
    list-style-type: none;
}

/*Estilos reseñas*/

.reseña-reseñas-li {
    list-style-type: none;
}

/*Estilos ayuda*/

.preguntas-ayuda-li {
    list-style-type: none;
}

/*Estilos footer*/

.footer-li {
    list-style-type: none;
}