@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*   font-family: "Montserrat", sans-serif; */

/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: white;
}

footer {
    background-color: rgb(48, 68, 105);
}

/*Estilos nav*/

.logo-nav {
  height: 110px;
  width: auto;
}

.custom-navbar-toggler {
  height: 50px;
  width: 50px;
}

.custom-menu {
  width: auto;
  height: 65px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.594);
  border-radius: 40px;
}

.custom-menu:focus {
  box-shadow: none;
  background-color: lightgray;
}

.custom-nav-link {
  font-weight: bold;
}

/*Estilos index*/

.banner {
  padding: 80px;
  background-color: rgb(31, 32, 45);
  text-align: center;
  color: white;
}

.banner h1 {
  font-weight: bolder;
}

.banner h2 {
  font-weight: bold;
}

.banner p {
  color: lightgrey;
  font-size: larger;
}

.banner-sec {
  padding: 70px;
  text-align: center;
  background-color: rgba(3, 114, 225, 0.386);
}

.banner-sec h2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: x-large;
}

.servicios-index {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(3, 114, 225, 0.527);
}

.servicios-index h2 {
  font-size: x-large;
  text-align: center;
  font-weight: bold
}

.custom-card-body {
  background-color: rgba(255, 255, 255, 0.405);
  border-width: 1px;
  border-radius: 25px;
  border-color: rgba(0, 0, 0, 0.435);
  text-align: center;
}

.custom-button-primary {
  background-color: rgba(31, 32, 45, 0.33);
  border-color: black;
  border-radius: 25px;
  color: black;
}

.custom-button-primary:hover {
  background-color: rgba(31, 32, 45, 0.5);
  border-color: black;
  color: black;
}

/*Estilos servicios*/

.custom-servicio {
  background-color: rgba(3, 114, 225, 0.386);
}

.custom-servicio h3 {
  font-weight: bolder;
  text-align: center;
}

.custom-servicio p {
  text-align: center;
}

.custom-servicio2 {
  background-color: rgba(3, 114, 225, 0.527);
}

.custom-servicio2 h3 {
  font-weight: bolder;
  text-align: center;
}

.custom-servicio2 p {
  text-align: center;
}

.custom-list-group-item {
  background-color: rgb(114, 127, 155);
  border-color: rgba(0, 0, 0, 0.294);
}

.custom-list-group {
  border-radius: 25px;
}

/*Estilos contacto*/

.donde-encontrarnos {
  background-color: rgba(3, 114, 225, 0.386);
}

.donde-encontrarnos h3 {
  font-weight: bold;
}

.medios-de-consulta {
  background-color: rgba(3, 114, 225, 0.527);
}

.medios-de-consulta h3 {
  font-weight: bold;
}

.custom-form-control {
  border-color: rgba(0, 0, 0, 0.42);
  border-radius: 10px;
}

/*Estilos reseñas*/

.custom-accordion-button {
  background-color: rgb(183, 188, 199);
  color: black;
  font-weight: 600;
  border: none;
  box-shadow: none;
}

.custom-accordion-button:not(.collapsed) {
  background-color: rgb(177, 211, 238);
  color: black;
  box-shadow: none;
}

.custom-accordion-button.collapsed {
  background-color: rgb(212, 223, 247);
  color: black;
}

.custom-accordion-button:focus {
  box-shadow: none;
}

.custom-accordion-item {
  background-color: rgb(213, 225, 235);
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/*Estilos footer*/

.custom-footer {
  background-color: rgb(18, 19, 26);
  color: white;
  padding-top: 50px;
}
